# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store
*.auto.tfvars

# Service account keys
authorized_key.json

# Terraform crash logs
crash.log
crash.*.log
